:root {
  --base-color-0: #ffffff;
  --base-color-50: #f8fafc;
  --base-color-100: #f1f5f9;
  --base-color-200: #e2e8f0;
  --base-color-300: #cbd5e1;
  --base-color-400: #94a3b8;
  --base-color-500: #64748b;
  --base-color-600: #475569;
  --base-color-700: #334155;
  --base-color-800: #1e293b;
  --base-color-900: #0f172a;
}
